<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	{headers}
	<!--[if lt IE 9]><script src="scripts/html5shiv.js"></script><![endif]-->
</head>
<body {sundries}>{adminbar}
<div class="wrapper row1">
  <header id="header" class="clear">
    <hgroup>
      <h1><a href="/">{company}</a></h1>
      <h2>{slogan}</h2>
    </hgroup>
    {search}
  </header>
</div>
<div class="wrapper row2">
  <nav id="topnav" class="clear">
    <ul>
      {navbar}
    </ul>
  </nav>
</div>
<!-- content -->
<div class="wrapper row3">
  <div id="container" class="clear">
    <!-- content body -->
    <div id="content">
      <!-- ########################################################################################## -->
      <!-- ########################################################################################## -->
      <!-- ########################################################################################## -->
      <!-- ########################################################################################## -->
      <section>
        {content}
      </section>
      <section id="comments" class="emoticons">
        <h2>Comments</h2>
        <ul>
          <li class="comment_odd">
            <article>
              <header>
                <figure><img src="skins/{skin}/images/demo/avatar.gif" width="32" height="32" alt=""></figure>
                <address>
                By <a href="#">A Name</a>
                </address>
                <time datetime="2000-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2000 @08:15:00</time>
              </header>
              <section>
                <p>This is an example of a comment made on a post. You can either edit the comment, delete the comment or reply to the comment. Use this as a place to respond to the post or to share what you are thinking. :) :O :P</p>
              </section>
            </article>
          </li>
          <li class="comment_even">
            <article>
              <header>
                <figure><img src="skins/{skin}/images/demo/avatar.gif" width="32" height="32" alt=""></figure>
                <address>
                By <a href="#">A Name</a>
                </address>
                <time datetime="2000-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2000 @08:15:00</time>
              </header>
              <section>
                <p>This is an example of a comment made on a post. You can either edit the comment, delete the comment or reply to the comment. Use this as a place to respond to the post or to share what you are thinking.</p>
              </section>
            </article>
          </li>
          <li class="comment_odd">
            <article>
              <header>
                <figure><img src="skins/{skin}/images/demo/avatar.gif" width="32" height="32" alt=""></figure>
                <address>
                By <a href="#">A Name</a>
                </address>
                <time datetime="2000-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2000 @08:15:00</time>
              </header>
              <section>
                <p>This is an example of a comment made on a post. You can either edit the comment, delete the comment or reply to the comment. Use this as a place to respond to the post or to share what you are thinking.</p>
              </section>
            </article>
          </li>
        </ul>
        <h2>Write A Comment</h2>
        <form action="#" method="post">
          <p>
            <input type="text" name="name" id="name" value="" size="22">
            <label for="name"><small>Name (required)</small></label>
          </p>
          <p>
            <input type="text" name="email" id="email" value="" size="22">
            <label for="email"><small>Mail (required)</small></label>
          </p>
          <p>
            <textarea name="comment" id="comment" cols="25" rows="10"></textarea>
            <label for="comment" class="hidden"><small>Comment (required)</small></label>
          </p>
          <p>
            <input name="submit" type="submit" id="submit" value="Submit Form">
            &nbsp;
            <input name="reset" type="reset" id="reset" value="Reset Form">
          </p>
        </form>
      </section>
      <!-- ########################################################################################## -->
      <!-- ########################################################################################## -->
      <!-- ########################################################################################## -->
      <!-- ########################################################################################## -->
    </div>
    <!-- right column -->
    <aside id="right_column">
      <!-- ########################################################################################## -->
      <!-- ########################################################################################## -->
      <!-- ########################################################################################## -->
      <!-- ########################################################################################## -->
      <h2>Site Navigation</h2>
      <nav>
        <ul>
          <li><a href="#">Text here</a></li>
          <li><a href="#">Text here</a>
            <ul>
              <li><a href="#">Text here</a></li>
              <li><a href="#">Text here</a></li>
            </ul>
          </li>
          <li><a href="#">Text here</a>
            <ul>
              <li><a href="#">Text here</a></li>
              <li><a href="#">Text here</a>
                <ul>
                  <li><a href="#">Text here</a></li>
                  <li><a href="#">Text here</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="#">Text here</a></li>
        </ul>
      </nav>
      <!-- /nav -->
      <section>
        <h2>Get In Contact</h2>
        <address>
        Full Name<br>
        Address Line 1<br>
        Address Line 2<br>
        Town/City<br>
        Postcode/Zip<br>
        <br>
        Tel: xxxx xxxx xxxxxx<br>
        Email: <a href="#">contact@domain.com</a>
        </address>
      </section>
      <!-- /section -->
      <section>
        <article>
          <h2>Lorem ipsum dolor</h2>
          <p>Nuncsed sed conseque a at quismodo tris mauristibus sed habiturpiscinia sed.</p>
          <ul>
            <li><a href="#">Lorem ipsum dolor sit</a></li>
            <li>Etiam vel sapien et</li>
            <li><a href="#">Etiam vel sapien et</a></li>
          </ul>
          <p>Nuncsed sed conseque a at quismodo tris mauristibus sed habiturpiscinia sed. Condimentumsantincidunt dui mattis magna intesque purus orci augue lor nibh.</p>
          <p class="more"><a href="#">Continue Reading &raquo;</a></p>
        </article>
      </section>
      <!-- /section -->
      <!-- ########################################################################################## -->
      <!-- ########################################################################################## -->
      <!-- ########################################################################################## -->
      <!-- ########################################################################################## -->
    </aside>
    <!-- / content body -->
  </div>
</div>
<!-- Footer -->
<div class="wrapper row4">
  <div id="footer" class="clear">
    <!-- ########################################################################################## -->
    <section class="one_quarter">
      <h2 class="title">From The Blog</h2>
      <article>
        <header>
          <h2>Post Title</h2>
          <address>
          <a href="#">Admin</a>, domainname.com
          </address>
          <time datetime="2000-04-06">Friday, 6<sup>th</sup> April 2000</time>
        </header>
        <p>Vestibulumaccumsan egestibulum eu justo convallis augue estas aenean elit intesque sed. Facilispede estibulum nulla orna nisl velit elit ac aliquat non tincidunt. Namjusto cras urna urnaretra lor urna neque sed quis orci nulla.</p>
        <footer class="more"><a href="#">Read More &raquo;</a></footer>
      </article>
    </section>
    <section class="one_quarter">
      <h2 class="title">Quick Links</h2>
      <nav>
        <ul>
          <li><a href="#">Lorem ipsum dolor sit</a></li>
          <li><a href="#">Amet consectetur</a></li>
          <li><a href="#">Praesent vel sem id</a></li>
          <li><a href="#">Curabitur hendrerit est</a></li>
          <li><a href="#">Aliquam eget erat nec sapien</a></li>
          <li><a href="#">Cras id augue nunc</a></li>
          <li class="last"><a href="#">Sed a nulla urna</a></li>
        </ul>
      </nav>
    </section>
    <section class="one_quarter">
      <h2 class="title">From The Gallery</h2>
      <div class="ft_gallery clear">
        <ul>
          <li><a href="#"><img src="skins/{skin}/images/demo/60x60.gif" alt="" /></a></li>
          <li><a href="#"><img src="skins/{skin}/images/demo/60x60.gif" alt="" /></a></li>
          <li class="last"><a href="#"><img src="skins/{skin}/images/demo/60x60.gif" alt="" /></a></li>
          <li><a href="#"><img src="skins/{skin}/images/demo/60x60.gif" alt="" /></a></li>
          <li><a href="#"><img src="skins/{skin}/images/demo/60x60.gif" alt="" /></a></li>
          <li class="last"><a href="#"><img src="skins/{skin}/images/demo/60x60.gif" alt="" /></a></li>
          <li><a href="#"><img src="skins/{skin}/images/demo/60x60.gif" alt="" /></a></li>
          <li><a href="#"><img src="skins/{skin}/images/demo/60x60.gif" alt="" /></a></li>
          <li class="last"><a href="#"><img src="skins/{skin}/images/demo/60x60.gif" alt="" /></a></li>
        </ul>
      </div>
    </section>
    <section class="one_quarter lastbox">
      <h2 class="title">Latest Tweets</h2>
      <div class="ft_tweets">
        <ul>
          <li><a href="#">@namehere</a> Justoid nonummy laoreet phasellent penatoque in antesque pellus elis eget tincidunt. Nequatdui laorem justo a non tellus laoremut vitae doloreet 1 day ago</li>
          <li><a href="#">@namehere</a> Justoid nonummy laoreet phasellent penatoque in antesque pellus elis eget tincidunt. Nequatdui laorem justo a non tellus laoremut vitae doloreet 1 day ago</li>
        </ul>
      </div>
    </section>
    <!-- ########################################################################################## -->
  </div>
</div>
<!-- Copyright -->
<div class="wrapper row5">
  <footer id="copyright" class="clear">
    <p class="fl_left">{footer}</p>
    <p class="fl_right">{links}</p>
  </footer>
</div>
</body>
</html>
