#sidebar .icon {
	background-image: none !important;
	background-position: 0% 0%;
}
#sidebar li a i {
	opacity: .5; 
	margin-top: 2px;
}
#sidebar {
	display: block;
	float: left;
	position: relative;
	width: 200px;
	z-index: 16;
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
}
#sidebar > ul {
	list-style: none;
	margin: 0px 0 0;
	padding: 0;
	position: absolute;
	width: 200px;
}
#sidebar > ul > li {
	display: block;
	position: relative;
}
#sidebar > ul > li > a {
	padding: 10px 0 10px 15px;
	display: block;
	color: #939da8;
}
#sidebar > ul > li > a > i {
	margin-right: 10px;
}
/*#sidebar > ul > li > a:hover,*/
#sidebar > ul > li.active > a {
	background: url("../images/menu-active.png") no-repeat scroll right center transparent !important;
	text-decoration:none;
}
#sidebar > ul > li > a > .label {
	margin: 0 20px 0 0;
	float: right;
	padding: 3px 5px 2px;
}
#sidebar > ul li ul {
	display: none;
	margin: 0;
	padding: 0;
}
#sidebar > ul li.open ul {
	display: block;
}
#sidebar > ul li ul li a {
	padding: 10px 0 10px 25px;
	display: block;
	/*color: #FFFFFF;*/
}
#sidebar > ul li ul li:first-child a {
	border-top: 0;
}
#sidebar > ul li ul li:last-child a {
	border-bottom: 0;
}

#sidebar > ul{border-bottom: 1px solid #37414b}
#sidebar > ul > li {
	border-top: 1px solid #37414b; border-bottom: 1px solid #1f262d;
}
#sidebar > ul > li.active {
    /*background-color: #27a9e3; border-bottom: 1px solid #27a9e3;  border-top: 1px solid #27a9e3;*/
    border-top: 1px solid #1f262d; border-bottom: 1px solid #37414b;
    /*border-top: 1px solid #2E363F; border-bottom: 1px solid #2E363F;*/
}
#sidebar > ul > li.active a{ color:#fff; text-decoration:none;}

#sidebar > ul > li > a > .label {
	/*background-color:#F66;*/
	background-color: #2F74D0;
}
#sidebar > ul > li > a:hover {
	text-decoration:none;
	/*background-color: #27a9e3;*/
	color:#fff;
}
#sidebar > ul li ul {
	background-color: #1e242b;
}
#sidebar > ul li ul li a{ color:#939da8}
#sidebar > ul li ul li a:hover, #sidebar > ul li ul li.active a {
	text-decoration:none;
	/*background-color: #28b779;*/
	color: #fff;
}
