body {
	/* nothing*/
}
.suggest_link {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	background-color: #EBEBEB;
	padding: 2px 6px 2px 6px;
}
.suggest_link_over {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	background-color: #BCBCBC;
	padding: 2px 6px 2px 6px;
	cursor:pointer;
}
#suggest {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	position: absolute; 
	background-color: #373E46; 
	text-align: left; 
	border: 1px solid #373E46;			
}
